/data/OrthoFinder/
/data/OrthoFinder/Results_Oct24/Comparative_Genomics_Statistics/
/data/OrthoFinder/Results_Oct24/Gene_Duplication_Events/
/data/OrthoFinder/Results_Oct24/Gene_Trees/
/data/OrthoFinder/Results_Oct24/Orthogroup_Sequences/
/data/OrthoFinder/Results_Oct24/Orthologues/
/data/OrthoFinder/Results_Oct24/Phylogenetic_Hierarchical_Orthogroups/
/data/OrthoFinder/Results_Oct24/Putative_Xenologs/
/data/OrthoFinder/Results_Oct24/Resolved_Gene_Trees/
/data/OrthoFinder/Results_Oct24/Single_Copy_Orthologue_Sequences/
/data/OrthoFinder/Results_Oct24/Species_Tree/
/data/OrthoFinder/Results_Oct24/WorkingDirectory/
/data/protein/72160e/
